.growcircle {
  background-color: #aca3a3;
}

.touchme {
  transition: all .3s ease-in-out;
  color: white;
  background-color: #ff8fcf;
  padding: 20px;
  border-radius: 50%;
}
.touchme:hover {
  transform: scale(1.5);
  background-color: #f7c4ec;
  color: #aca3a3;
  padding: 20px;
  border-radius: 50%;
}
